@charset "UTF-8";

@import "foundation/variables";
@import "foundation/normalize";
@import "foundation/base";
@import "foundation/fonts";

@import "wordpress/accessibility";
@import "wordpress/alignments";

.hr-before {

	&:before {
		content: "";
		display: block;
		height: 0;
		border-top: 1px solid #333;
		width: 20px;
		margin: auto;
	}
}

.hr-after {

	&:after {
		content: "";
		display: block;
		height: 0;
		border-bottom: 1px solid #333;
		width: 20px;
		margin: auto;
	}
}

body {
	color: #333;
	font-family: $proxima-nova;
	padding: 0 1em;
}

img {
	height: auto;
	max-width: 100%;
}

.site-title {
	font-family: $proxima-nova-cond;
	font-weight: 200;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	margin: 100px auto 25px;

	a {
		text-decoration: none;
	}
}

.global-nav {
	font-size: 14px;
	margin-bottom: 50px;

	ul {
		display: flex;
		list-style: none;
		justify-content: center;
		padding: 0;
		text-transform: uppercase;

		li {
			margin: 1em;

			a {
				text-decoration: none;

				&:hover {
					color: #999;
				}
			}
		}
	}
}

.site-footer {
	margin-top: 100px;
}

.copyright {
	text-align: center;
	font-weight: 200;
	font-size: 12px;
	margin: 50px auto;
}

.post-thumbnail {
	margin: 0 auto 20px;
	text-align: center;
	max-width: 940px;

	img {
		vertical-align: top;
	}
}

.entry-title {
	font-size: 24.5px;
	margin: 0 auto 20px;
	max-width: 960px;
	text-align: center;
}

.entry-meta {
	color: #ccc;
	font-size: 14px;
	margin-bottom: 25px;
	text-align: center;
}

.entry-share {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

	> * {
		margin: 0.25em;
	}

	.pocket-btn {
		overflow: hidden;
		width: 100px;
	}
}

.entry-content {
	font-size: 14px;
	line-height: 1.85;
	margin: auto;
	max-width: 540px;

	a {
		border-bottom: 1px dotted #333;
		text-decoration: none;
	}

	ul {
		list-style: square;
		padding-left: 1em;
	}
}
